/* @media (max-width: 1286px){
    .conteiner-geral {
        width: 98%;
        height: 65vh;
    }

    .conteiner-navegacao  {
        margin: 1rem;
    }

    .barra-navegacao {
        height: auto;
    }

    .alunos{
        padding: 0.5rem;
    }

    .alunos p,a {
        margin-left: 0.5rem;
    }
    .social-media img {
        width: 45px;
    }

    .rodape {
        height: 50%;
        font-size: 17px;
        padding: 2rem;
    }

}

@media (max-width: 1278px){
    .conteiner-geral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        margin: 1rem;
    }

    .conteiner-navegacao {
        width: 50%;
        border-radius: 10px;
        background-color: inherit;

    }

    .conteiner-navegacao .logo {
        align-items: center;

    }
    .exercicio {
        display: none;
    }

 .texto {
        display: none;
 }

    .button-group {
        display: none;
    }

    .infomacao{
        width: 95%;
    }

    .rodape {
        font-size: px;
        padding: 2rem 0 2rem 0;
    }

}    
    @media (max-width: 1030px){
        .conteiner-{
            width:60%;
            display: flex;
            flex-direction: column;

    }

    .aluno {display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 1rem;
    }

    .rodape {
        display: none;
    }

    } */
