@media (max-width: 1286px){
    .conteiner {
        width: 98%;
        height: 65vh;
    }

    .group-navegacao {
        margin: 1rem;
    }

    .barra-navegacao {
        height: auto;
    }

    .aluno{
        padding: 0.5rem;
    }

    .aluno p,a {
        margin-left: 0.5rem;
    }
    .social-media img {
        width: 45px;
    }

    .rodape {
        height: 50%;
        font-size: 17px;
        padding: 2rem;
    }

}

@media (max-width: 1278px){
    .conteiner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        margin: 1rem;
    }

    .group-navegacao {
        width: 50%;
        border-radius: 10px;
        background-color: inherit;

    }

    .group-navegacao .logo {
        align-items: center;

    }
    .exercicio {
        display: none;
    }

 .texto-1 {
        display: none;
    } 
    .texto-2 {
      display: none; 
    } 

    iframe {
        display: none;
    }

    .button-group {
        display: none;
    }

    .infomacao{
        width: 95%;
    }

    .rodape {
        font-size: px;
        padding: 2rem 0 2rem 0;
    }

}    
    @media (max-width: 1030px){
        .infomacao{
            width:60%;
            display: flex;
            flex-direction: column;

    }

    .aluno {display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 1rem;
    }

    .rodape {
        display: none;
    }

    }
